<div id="topnav" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand"><a href="{kujua_baseURL}/" class="kujua">Kujua</a> <span class="version">{settings.version}</span></span>
      <div id="session" class="pull-right">
      </div>
      <ul class="nav">
        <li class="home"><a href="{kujua_baseURL}/"><i class="icon-download-alt"></i> Export</a></li>
        <li class="records">
          <a href="{kujua_baseURL}/data_records">
            <i class="icon-list"></i> Records</a>
        </li>
        <li class="facilities">
          <a href="{kujua_baseURL}/facilities">
            <i class="icon-home"></i> Facilities</a>
        </li>
        <li class="docs"><a href="{kujua_baseURL}/docs/"><i class="icon-book"></i> Docs</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="content">
</div>
